@model  TeacherStageMatrialVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Teacher</h4>
<hr />
<form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Teacher.Teacher_Id" />
            <div class="row">
            <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label asp-for="Teacher.Teacher_Name" class="control-label"></label>
                <input asp-for="Teacher.Teacher_Name" class="form-control" />
                <span asp-validation-for="Teacher.Teacher_Name" class="text-danger"></span>
            </div>
            <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label asp-for="Teacher.Teacher_Phone" class="control-label"></label>
                <input asp-for="Teacher.Teacher_Phone" class="form-control" />
                <span asp-validation-for="Teacher.Teacher_Phone" class="text-danger"></span>
            </div>
            <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label asp-for="Teacher.Teacher_Email" class="control-label"></label>
                <input asp-for="Teacher.Teacher_Email" class="form-control" />
                <span asp-validation-for="Teacher.Teacher_Email" class="text-danger"></span>
            </div>
            <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label asp-for="Teacher.Teacher_Specilist" class="control-label"></label>
                <input asp-for="Teacher.Teacher_Specilist" class="form-control" />
                <span asp-validation-for="Teacher.Teacher_Specilist" class="text-danger"></span>
            </div>
           
            <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label asp-for="Teacher.Teacher_BirthOfDate" class="control-label"></label>
                <input asp-for="Teacher.Teacher_BirthOfDate" class="form-control" />
                <span asp-validation-for="Teacher.Teacher_BirthOfDate" class="text-danger"></span>
            </div>
             <div class="col-xl-6 col-12 form-group mg-t-30">
                
                <label asp-for="file"class="text-dark-medium"></label>
                <input asp-for="file" type="file" name ="Image"class="form-control-file">
                 <span asp-validation-for="file" class="text-danger"></span>
            </div>
                
             <div class="col-12 form-group mg-t-8">
                <input type="submit" value="Save" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" />
            </div>
             </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
