@model CenterApp.Core.Models.Teacher

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Teacher</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Teacher_Id" />
            <div class="form-group">
                <label asp-for="Teacher_Name" class="control-label"></label>
                <input asp-for="Teacher_Name" class="form-control" />
                <span asp-validation-for="Teacher_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher_Phone" class="control-label"></label>
                <input asp-for="Teacher_Phone" class="form-control" />
                <span asp-validation-for="Teacher_Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher_Email" class="control-label"></label>
                <input asp-for="Teacher_Email" class="form-control" />
                <span asp-validation-for="Teacher_Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher_Specilist" class="control-label"></label>
                <input asp-for="Teacher_Specilist" class="form-control" />
                <span asp-validation-for="Teacher_Specilist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher_Image" class="control-label"></label>
                <input asp-for="Teacher_Image" class="form-control" />
                <span asp-validation-for="Teacher_Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher_BirthOfDate" class="control-label"></label>
                <input asp-for="Teacher_BirthOfDate" class="form-control" />
                <span asp-validation-for="Teacher_BirthOfDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
